#
# Configuration file for one.world.
#
one.world.swing.native.laf=true
mime.config.name=config/mime.config
#
# When editing this file to record your machine's CaffeineMark rating,
# replace the -1 on the line below this comment with the overall score
# of the benchmark run.
#
caffeine.mark.rating=-1
#
